
body

	h1 #{title}

	div#status
		span Regional Rail is 
		span(class = "#{status_class}") #{train_status}

	ul#trains
		if (late)
			each train in late
				li #{train}

	if (message)
		div#message #{message}

	//-
	//- If we're running in production, display our Google Apps code
	//-
	if (production)
		include google_analytics



