

div(class="row row-status")

	div(class="col-md-12 col-xs-12")

		//-
		//- Regional Rail Status
		//-
		h2 Regional Rail Is:

		if ( rr_status_class == "status-not-fcked")
			div(class="status #{rr_status_class}") #{rr_status}

		else if ( rr_status_class == "status-a-little-fcked")
			div(class="status #{rr_status_class}") #{rr_status}

		else if ( rr_status_class == "status-fcked")
			div(class="status #{rr_status_class}") #{rr_status}

		else
			//
			// Unknown
			//
			div(class="status #{rr_status_class}") #{rr_status}


		if (rr_late)
			each train in rr_late
				div(style="font-size: smaller; ") #{train}
			p

		if (rr_message)
			div#message #{rr_message}
		p

		div#status-time.
			Train data last updated: #{rr_status_time}


// Add some spacing
div(class="row")
	div(class="col-md-12 col-xs-12 status-row")
		br

div(class="row row-status")
	div(class="col-md-12 col-xs-12 ")
		//
		// Bus status
		//
		// This is the correct spelling as per Merriam-Webster:
		//
		// https://www.merriam-webster.com/words-at-play/plural-of-bus
		//
		h2 Buses Are:

		if ( bus_status_class == "status-not-fcked")
			div(class="status #{bus_status_class}") #{bus_status}

		else if ( bus_status_class == "status-a-little-fcked")
			div(class="status #{bus_status_class}") #{bus_status}

		else if ( bus_status_class == "status-fcked")
			div(class="status #{bus_status_class}") #{bus_status}

		else
			//
			// Unknown
			//
			div(class="status #{bus_status_class}") #{bus_status}

		if (bus_suspended)
			each bus in bus_suspended
				div(style="font-size: smaller; ") #{bus}
			p

		if (bus_message)
			div#message #{bus_message}
		p

		div#status-time.
			Bus data last updated: #{bus_status_time}


// Add some spacing
div(class="row")
	div(class="col-md-12 col-xs-12 status-row")
		br

//
// I'm not 100% sure if this is the best way to present this info in terms of
// formatting and UI, but it's a start. :-)
//
div(class="row row-not-status")
	div(class="col-md-offset-4 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12")
		h3 Media Coverage
		ul
			li
				a(href="http://www.phillymag.com/news/2012/09/26/web-app-tells-septa-f%ED/") New Web App Tells You When SEPTA Is F#$%ed
			li
				a(href="http://technical.ly/philly/2016/07/06/is-septa-fucked-douglas-muth/") Now more timely than ever: Is SEPTA F*cked?

div(class="row")
	div(class="col-md-offset-4 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12")
		h3 Awards
		ul
			li
				a(href="http://technical.ly/philly/2017/02/08/network-awards-winners/") Best Side Project, Net/Work Philly


include lib/footer

