
//-
//- Load Facebook's Javascript SDK
//-
<div id="fb-root"></div>
script(type='text/javascript')
	(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=230671247055726";
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

div#main

	h1.title #{title}

	div.status
		span Regional Rail is 
	div.status
		span(class = "#{status_class}") #{train_status}

	ul#trains
		if (late)
			each train in late
				li #{train}

	if (message)
		div#message #{message}
	p
	div#status-time.
		Train data last updated: #{train_status_time}


//-
//- If we're running in production, display our Google Apps code
//-
if (production)
	include google_analytics

div.upper-left
	//-
	//- Our Facebook "like" widget
	//-
	<div class="fb-like" data-href="https://www.facebook.com/IsSeptaFcked" data-send="true" data-layout="button_count" data-width="300" data-show-faces="true" data-colorscheme="dark" data-font="arial"></div>
	//- 
	//- Google +1 button
	//- 
	p <div class="g-plusone" data-size="medium" data-href="http://www.isseptafcked.com/"></div>

//-
//- For Google +1 button
//-
script(type='text/javascript')
	(function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/plusone.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();


div.lower-left
	a(href="/faq") FAQ and Explanation
	span  - 
	include lib/sfw


//-
//- Our GitHub ribbon in the upper right.
//-
a(href="https://github.com/dmuth/IsSeptaFcked") <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>


