
body

	h1 #{title}

	div#status
		span Regional Rail is 
		span(class = "#{status_class}") #{train_status}

	ul#trains
		if (late)
			each train in late
				li #{train}

	if (message)
		div#message #{message}

	//-
	//- If we're running in production, display our Google Apps code
	//-
	if (production)
		script.
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-317389-12']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();



